In [91]:
import pandas as pd
import numpy as np

In [93]:
df=pd.read_csv("customer.csv")

In [95]:
df.sample(5)

    age  gender   review education purchased
31   22  Female     Poor    School       Yes
46   64  Female     Poor        PG        No
3    72  Female     Good        PG        No
40   39    Male     Good    School        No
24   16  Female  Average        PG       Yes

In [97]:
df=df[['review','education','purchased']]
df

     review education purchased
0   Average    School        No
1      Poor        UG        No
2      Good        PG        No
3      Good        PG        No
4   Average        UG        No
5   Average    School       Yes
6      Good    School        No
7      Poor    School       Yes
8   Average        UG        No
9      Good        UG       Yes
10     Good        UG       Yes
11     Good        UG       Yes
12     Poor    School        No
13  Average    School        No
14     Poor        PG       Yes
15     Poor        UG        No
16     Poor        UG       Yes
17     Poor        UG       Yes
18     Good    School        No
19     Poor        PG       Yes
20  Average    School       Yes
21  Average        PG        No
22     Poor        PG       Yes
23     Good    School        No
24  Average        PG       Yes
25     Good    School        No
26     Poor        PG        No
27     Poor        PG        No
28     Poor    School        No
29  Average        UG       Yes
30  Average        UG        No
31     Poor    School       Yes
32  Average        UG       Yes
33     Good        PG       Yes
34  Average    School        No
35     Poor    School       Yes
36     Good        UG       Yes
37  Average        PG       Yes
38     Good    School        No
39     Poor        PG        No
40     Good    School        No
41     Good        PG       Yes
42     Good        PG       Yes
43     Poor        PG        No
44  Average        UG        No
45     Poor        PG       Yes
46     Poor        PG        No
47     Good        PG       Yes
48     Good        UG       Yes
49     Good        UG        No

In [99]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,0:2],df.iloc[:,2],test_size=0.2,random_state=0)

In [131]:
y_train

33    Yes
35    Yes
26     No
34     No
18     No
7     Yes
14    Yes
45    Yes
48    Yes
29    Yes
15     No
30     No
32    Yes
16    Yes
42    Yes
20    Yes
43     No
8      No
13     No
25     No
5     Yes
17    Yes
40     No
49     No
1      No
12     No
37    Yes
24    Yes
6      No
23     No
36    Yes
21     No
19    Yes
9     Yes
39     No
46     No
3      No
0      No
47    Yes
44     No
Name: purchased, dtype: object

In [103]:
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [105]:
oe.fit(x_train);

In [107]:
x_trained=oe.transform(x_train)
x_tested=oe.transform(x_test)

In [109]:
x_trained=pd.DataFrame(x_trained,columns=x_train.columns)
x_testned=pd.DataFrame(x_tested,columns=x_test.columns)

In [113]:
x_trained

    review  education
0      2.0        2.0
1      0.0        0.0
2      0.0        2.0
3      1.0        0.0
4      2.0        0.0
5      0.0        0.0
6      0.0        2.0
7      0.0        2.0
8      2.0        1.0
9      1.0        1.0
10     0.0        1.0
11     1.0        1.0
12     1.0        1.0
13     0.0        1.0
14     2.0        2.0
15     1.0        0.0
16     0.0        2.0
17     1.0        1.0
18     1.0        0.0
19     2.0        0.0
20     1.0        0.0
21     0.0        1.0
22     2.0        0.0
23     2.0        1.0
24     0.0        1.0
25     0.0        0.0
26     1.0        2.0
27     1.0        2.0
28     2.0        0.0
29     2.0        0.0
30     2.0        1.0
31     1.0        2.0
32     0.0        2.0
33     2.0        1.0
34     0.0        2.0
35     0.0        2.0
36     2.0        2.0
37     1.0        0.0
38     2.0        2.0
39     1.0        1.0

In [119]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder();

In [123]:
le.fit(y_train);

In [127]:
y_trained=le.transform(y_train)
y_tested=le.transform(y_test)

In [129]:
y_trained

array([1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0])